<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GoodeRegistration</title>
  </head>
  <body>
    <h1>Here are the courses being taught this Winter</h1>
    <li> Trent Alexander-Arnold </li>
    <li> Andy Robertson </li>
    <li> Jordan Henderson </li>
    <li> Kostas Tsimikas </li>
    <li> Mohammed Salah </li>
    <li> Joe Gomez </li>



  <!--   <h1>Welcome to the GoodeRegistration Login Page</h1>
    <!-- <form>  action="{{ url_for('/course_list/') }}" method="post" >
    <p><h2>Please enter your name below</h2></p>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
<!-- after submit it should go to course list page -->

  </body>
</html>
